!! Last configuration change at 00:51:36 GMT Wed Jun 7 2017 by backup! NVRAM config last updated at 00:51:46 GMT Wed Jun 7 2017 by backup! NVRAM config last updated at 00:51:46 GMT Wed Jun 7 2017 by backupversion 15.2service nagleno service padservice tcp-keepalives-inservice tcp-keepalives-outservice timestamps debug datetime msec localtime show-timezoneservice timestamps log datetime msec localtime show-timezoneservice password-encryption!hostname CNIBCNSZRC001!boot-start-markerboot system flash:c3900e-universalk9-mz.SPA.152-4.M6.binboot-end-marker!!logging buffered 65535 informationalno logging consoleenable secret 5 $1$Tsxn$DKhMtPXhH9soUccDLUOmB1!no aaa new-modelclock timezone GMT 0 0!no ip source-routeip cef!!!!

